ACCCONFIGROOTPW=secret
ACCDATAROOTPW=secret
ADMIN_LDAP_PASSWORD=secret
CUSTOMERID=acme
FUSIONDIRECTORY_LDAP_PASSWORD=secret
FUSIONDIRECTORY_LDAP_USERNAME=fd
LSC_LDAP_PASSWORD=secret
LSC_LDAP_USERNAME=lsc
LDAP_PROTO=ldap
LDAP_HOST=ltb-directory-server
LDAP_PORT=33389
LDAP_SUFFIX=dc=fusioniam,dc=org
LEMONLDAP2_LDAP_PASSWORD=secret
LEMONLDAP2_LDAP_USERNAME=lemonldapng
SERVICEDESK_LDAP_PASSWORD=secret
SERVICEDESK_LDAP_USERNAME=sd
WHITEPAGES_LDAP_PASSWORD=secret
WHITEPAGES_LDAP_USERNAME=wp
LDAP_TLS=
LDAP_CERTIFICATE_FILE=/usr/local/openldap/etc/openldap/tls/cert.pem
LDAP_CERTIFICATE_KEY=/usr/local/openldap/etc/openldap/tls/key.pem
LDAP_TLS_PROTOCOL_MIN=3.4
LDAP_TLS_CIPHER_SUITE=HIGH
